#prices {
	padding-top: $stdPadding;
	margin-bottom: $stdPadding;
	#packages, #awards {
		visibility: hidden;
		position: relative;
		opacity: 0;
	}
	.row1 {
		h1 {
			line-height: 1.1;
			font-size: 45px;
			span {
				color: $blue;
			}
		}
		p {
			line-height: 25px;
			font-size: 16px;
			width: 35%;
			margin: 0 auto;
			margin-bottom: $stdMarginBottom * 1.5;
		}
	}//end .row1
	.row2 {
		.pricesPanel {	
			background: #F8F8F8;
			border: 1px solid #F0F0F0;
			margin-bottom: $stdMarginBottom;
			h2 {
				font-size: 25px;
				color: #626262;
			}
			.price {
				background: #F3F3F3;
				color: $blue;
				font-size: 115px;
				margin-bottom: $stdMarginBottom * 2;
				padding: 15px;
				padding-bottom: 0px;
				span {
					font-size: 47px;
					position: relative;
					top: -40px;
				}
			}
			.period {
				font-size: 15px;
				line-height: 1;
				margin-top: -30px;
			}
			.package {
				padding: 30px 15% 50px;
				ul {
					li {
						color: #676767;
						height: 56px;
						font-size: 16px;
						line-height: 25px;
						border-bottom: 1px solid #dadada;
						padding: 15px 0;
						&:last-child {
							border-bottom: none;
							margin-bottom: $stdMarginBottom;
						}
						span {
							color: #4C4C4C;
						}
					}
				}
				button {
					@include normalBtn(15px, 25px, $blue);
					width: 100%;
				}
			}
		}//end .pricesPanel
		.panelHover:hover {
			background: #1AC6FF;
			h2 {
				color: white;
			}
			.price {
				background: #23ADDB;
				color: white;
			}
			.package {
				ul {
					li {
						color: white;
						span {
							color: white;
						}
					}
				}
				button {
					color: white;
					border-color: white;
				}
			}

		}
		.disabled {
			h2 {
				color: #BEBEBE;
			}
			.price {
				color: #BEBEBE;
			}
			.package {
				ul {
					li {
						color: #BEBEBE;
						span {
							color: #A3A3A3;
						}
					}
				}
				button {
					color: #BBBBBB;
					border-color: #B6B6B6;
				}
			}
		}// end .disabled
	}//end .row2

	.row3 {
		padding-top: $stdPadding/2;
		padding-bottom: $stdPadding/2;
		h1 {
			font-size: 45px;
			span {
				color: $blue;
			}
		}
		p {
			margin: 0 auto;
			margin-bottom: 30px;
			line-height: 25px;
			font-size: 16px;
			width: 30%;
		}
	}//end .row3
}